@{
	ViewData["Title"] = "Cursussen";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container text-light" style="height: auto; min-height: 95%;">
	<table id="example" class="table text-light" style="width:100%">
		<thead>
			<tr>
				<th>#</th>
				<th>Datum</th>
				<th>Cursus</th>
				<th>Organisatie/Instituut</th>
				<th>Certificaat behaald</th>
			</tr>
		</thead>
		<tbody class="text-light">
			<tr>
				<td>1</td>
				<td>1 apr. 2023 - </td>
				<td>Rust Programming Master Class: From Beginner to Expert</td>
				<td>Udemy</td>
				<td>In de planning</td>
			</tr>
			<tr>
				<td>2</td>
				<td>1 mei 2023 - </td>
				<td>Master Spring Boot 3 & Spring Framework 6 with Java</td>
				<td>Udemy</td>
				<td>In de planning</td>
			</tr>
			<tr>
				<td>3</td>
				<td>23 febr. 2023 - 1 apr. 2023</td>
				<td>React - The Complete Guide (incl Hooks, React Router, Redux)</td>
				<td>Udemy</td>
				<td>Bezig</td>
			</tr>
			<tr>
				<td>4</td>
				<td>15 febr. 2023 - 22 febr. 2023</td>
				<td>.NET 7 Web API & Entity Framework Jumpstart</td>
				<td>Udemy</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>5</td>
				<td>10 febr. 2023 - 14 febr. 2023</td>
				<td>ASP.NET Core Web API and Minimal API Development with .NET 6</td>
				<td>Udemy</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>6</td>
				<td>1 jan. 2023 - 24 febr. 2023</td>
				<td>INF-305 Software development </td>
				<td>Pearson Vue</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>7</td>
				<td>1 jan. 2023 - 9 febr. 2023</td>
				<td>Complete guide to ASP.NET Core MVC (.NET 6)</td>
				<td>Udemy</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>8</td>
				<td>8 dec. 2022 - 25 dec. 2022</td>
				<td>Complete Guide to ASP.NET Core Identity</td>
				<td>Udemy</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>9</td>
				<td>1 dec. 2022 - 7 dec. 2022</td>
				<td>Agile scrum</td>
				<td>Exin</td>
				<td>Ja</td>
			</tr>
			<tr>
				<td>10</td>
				<td>1 okt. 2022 - 19 nov. 2022</td>
				<td>Complete C# Masterclass</td>
				<td>Udemy</td>
				<td>Ja</td>
			</tr>
		</tbody>
	</table>
</div>