@{
	ViewData["Title"] = "Opleidingen";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container text-light">
	<div class="row gap-4">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 text-light row">
			<p class="display-3" style="height: 100px; margin-bottom: 1px;">Opleidingen</p>
			<div class="row" style="margin-bottom: 0px;">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">aug. 2020 - sep. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							HBO Software developer
						</b>
					</div>
					<div class="col-12">
						<i>
							Windesheim, Almere.
						</i>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 175px;">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">aug. 2017 - jun. 2020</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							MBO ICT / Software development niveau 4
						</b>
					</div>
					<div class="col-12">
						<i>
							ROC, Hilversum.
						</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
