@{
	ViewData["Title"] = "Opleidingen";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container text-light">
	<div class="row gap-4">
@*		<div class="col-12 col-sm-12 col-md-12 col-lg-8 text-light row gap-4">
			<p class="display-3">Opleidingen</p>
			<div class="row">
				<div class="col-4">aug. 2020 - sep. 2022</div>
				<div class="col-8 row">
					<div class="col-12">
						<b>
							HBO Software developer
						</b>
					</div>
					<div class="col-12">
						<i>
							Windesheim, Almere.
						</i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">aug. 2017 - jun. 2020</div>
				<div class="col-8 row">
					<div class="col-12">
						<b>
							MBO ICT / Software development niveau 4
						</b>
					</div>
					<div class="col-12">
						<i>
							ROC, Hilversum.
						</i>
					</div>
				</div>
			</div>
		</div>*@
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-light row">
			<p class="display-3 add-margin min-height">Opleidingen</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">aug. 2020 - sep. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							HBO Software developer
						</b>
					</div>
					<div class="col-12">
						<i>
							Windesheim, Almere.
						</i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">aug. 2020 - sep. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							HBO Software developer
						</b>
					</div>
					<div class="col-12">
						<i>
							Windesheim, Almere.
						</i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-light row">
			<p class="display-3 add-margin min-height">Cursussen</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">dec. 2022 - dec. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Agile scrum, instituut Exin (certificaat behaald)
						</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">okt. 2022 - dec. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Complete C# Masterclass en Complete Guide to ASP.NET Core Identity
							via Udemy (certificaat behaald)
						</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">jan. 2023 - 9 febr. 2023</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Complete guide to ASP.NET Core MVC (.NET 6)
							via Udemy (certificaat behaald)
						</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
