@{
	ViewData["Title"] = "Hobby's";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
<div class="container hobby-container">
	<div class="hobby">
		<div class="hobby-item">
			<img src="/images/family_and_friends.jpg" class="hobby-img" alt="Familie en vrienden" />
			<div class="hobby-overlay family">
				<p>Familie en vrienden</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/food_and_drinks_second.jpg" class="hobby-img" alt="Hapje en een drankje" />
			<div class="hobby-overlay food">
				<p>Hapje en een drankje</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/vacation.jpg" class="hobby-img" alt="Vakantie" />
			<div class="hobby-overlay vacation">
				<p>Vakantie</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/programming.png" class="hobby-img" alt="Programmeren" />
			<div class="hobby-overlay programming">
				<p>Programmeren</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/sporting.jpg" class="hobby-img" alt="Sporten" />
			<div class="hobby-overlay sporting">
				<p>Sporten</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/anime.png" class="hobby-img" alt="Anime" />
			<div class="hobby-overlay anime">
				<p>Anime</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/music.jpg" class="hobby-img" alt="Muziek" />
			<div class="hobby-overlay music">
				<p>Muziek</p>
			</div>
		</div>
		<div class="hobby-item">
			<img src="/images/photo.jpg" class="hobby-img" alt="Fotografie" />
			<div class="hobby-overlay photo">
				<p>Fotografie</p>
			</div>
		</div>
	</div>
</div>