<div class="container text-light" style="height: 60vh; border: 1px solid red;">
    <div class="row">
        <div class="col-4" style="border: 1px solid green;">
            @*<p>Familie en vrienden</p>*@
            <div class="images">
                <img src="/images/family_and_friends.jpeg" class="w-100 h-100" alt="Familie en vrienden" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Hapje en een drankje</p>*@
            <div class="images">
                <img src="/images/food_and_drinks.jpeg" class="w-100 h-100" alt="Hapje en een drankje" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Vakantie</p>*@
            <div class="images">
                <img src="/images/vacation.jpeg" class="w-100 h-100" alt="Vakantie" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Programmeren</p>*@
            <div class="images">
                <img src="/images/sporting.jpeg" class="w-100 h-100" alt="Programmeren" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Sporten</p>*@
            <div class="images">
                <img src="/images/sporting.jpeg" class="w-100 h-100" alt="Sporten" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Anime</p>*@
            <div class="images">
                <img src="" class="w-100 h-100" alt="Anime" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Muziek</p>*@
            <div class="images">
                <img src="/images/music.jpeg" class="w-100 h-100" alt="Muziek" />
            </div>
        </div>
        <div class="col-4">
            @*<p>Fotografie</p>*@
            <div class="images">
                <img src="/images/photo.jpeg" class="w-100 h-100" alt="Fotografie" />
            </div>
        </div>
    </div>
</div>