@{
	ViewData["Title"] = "Home";
}

<div class="body">
	<div class="center">
		<p class="top text-light">Aman Ahmed</p>
		<div class="menu">
			<div class="toggle">
				<ion-icon name="add-sharp"></ion-icon>
			</div>
			<li style="--i:0;">
				<a asp-area="" asp-controller="Home" asp-action="Index">
					<ion-icon name="home-sharp" alt="Home"></ion-icon>
				</a>
			</li>
			<li style="--i:1;">
				<a asp-area="" asp-controller="Home" asp-action="Introduction">
					<ion-icon name="person-sharp" alt="Home"></ion-icon>
				</a>
			</li>
			<li style="--i:2;">
				<a asp-area="" asp-controller="Home" asp-action="Hobbies">
					<ion-icon name="accessibility-sharp" alt="Hobby's"></ion-icon>
				</a>
			</li>
			<li style="--i:3;">
				<a asp-area="" asp-controller="Home" asp-action="Motivation">
					<ion-icon name="rocket-sharp" alt="Motivatie"></ion-icon>
				</a>
			</li>
			<li style="--i:4;">
				<a asp-area="" asp-controller="Home" asp-action="Educations">
					<ion-icon name="school-sharp" alt="Opleidingen"></ion-icon>
				</a>
			</li>
			<li style="--i:5;">
				<a asp-area="" asp-controller="Home" asp-action="Skills">
					<ion-icon name="star-sharp" alt="Vaardigheden"></ion-icon>
				</a>
			</li>
			<li style="--i:6;">
				<a asp-area="" asp-controller="Home" asp-action="Work">
					<ion-icon name="briefcase-sharp" alt="Werk"></ion-icon>
				</a>
			</li>
			<li style="--i:7;">
				<a asp-area="" asp-controller="Home" asp-action="Internship">
					<ion-icon name="business-sharp" alt="Stage"></ion-icon>
				</a>
			</li>
		</div>
	</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
