@{
	ViewData["Title"] = "Home";
}

<div class="body">
	<div class="center">
		<p class="top text-light">Aman Ahmed</p>
		<div class="menu">
			<div class="toggle">
				<ion-icon name="add-sharp"></ion-icon>
			</div>
			<li style="--i:0;">
				<a href="#">
					<ion-icon name="home-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:1;">
				<a href="#">
					<ion-icon name="person-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:2;">
				<a href="#">
					<ion-icon name="accessibility-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:3;">
				<a href="#">
					<ion-icon name="rocket-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:4;">
				<a href="#">
					<ion-icon name="school-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:5;">
				<a href="#">
					<ion-icon name="star-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:6;">
				<a href="#">
					<ion-icon name="briefcase-sharp"></ion-icon>
				</a>
			</li>
			<li style="--i:7;">
				<a href="#">
					<ion-icon name="business-sharp"></ion-icon>
				</a>
			</li>
		</div>
	</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
