@{
	ViewData["Title"] = "Stage";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container text-light">
	<div class="row gap-4">
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-light row">
			<p class="display-3 add-margin">Stage ervaring</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">jan. 2022 - jul. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Comakership
						</b>
					</div>
					<div class="col-12">
						<i>
							Eazlee, Lelystad.
						</i>
					</div>
					<div class="col-12">
						Ik heb voor mijn opleiding HBO software developer, 6 maanden stage,
						gelopen bij Eazlee in Lelystad. Daarbij was ik verantwoordelijk voor het
						bouwen van een structuur m.b.v. een API om huizen te viewen.
						Hierdoor konden makelaars hun panden beter presenteren. Ook heb ik
						m.b.v. Tailwind pagina’s dynamischer gemaakt, waardoor de applicatie
						mobile responsive werd.
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-light row">
			<p class="display-3 minus-margin">Cursussen</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">dec. 2022 - dec. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Agile scrum, instituut Exin (certificaat behaald)
						</b>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4">okt. 2022 - dec. 2022</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
					<div class="col-12">
						<b>
							Complete C# Masterclass en Complete Guide to ASP.NET Core Identity
							via Udemy (certificaten behaald)
						</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>