@{
	ViewData["Title"] = "Introductie";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Introductie</p>
			<p>
				Ik ben een van nature hardwerkende introverte jongen, die erg van programmeren houd. <br />
				Mijn focus ligt op backend, maar heb ook een sterke interesse voor frontend. <br />
				Ik geniet, neem deel, observeer, vraag door, werk proactief en neem het initiatief om  <br /> 
				mijn ideeën uit te werken tot bruikbare oplossingen. <br /> 
				Daarbij maak ik mijn code gestructureerd en zo dynamisch mogelijk <br /> 
				(werk agile, maar wel met de focus op kwaliteit).<br />
				Daarnaast ben ik leergierig en creatief, pik snel programmeertalen op <br /> 
				en werk zelfstandig (maar vind ook teamwork zeer nuttig en waardevol).<br />
				<br /> 
				Indien ik iets niet weet, zoek ik het op stackoverflow en kan dan veelal weer verder.<br />
				Indien dit niet lukt, zou ik altijd bij een collega aankloppen, <br />  
				zodat er niet teveel tijd verloren gaat.<br />
				Met natuurlijk als doel de wensen van de product owner, binnen de gestelde kaders, <br />
				waar te maken en hiermee een bijdrage te leveren aan de beste customer experience.<br />
				<br />
				Tot slot: ik ben altijd op tijd, hou van anime en YouTube filmpjes<br />
				en heb geen ochtendhumeur!


			</p>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Algemeen</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Geboortedatum: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">08 oktober 2000</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Nationaliteit: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Nederlands (moeder Nederlands, vader Pakistaans)</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Burgerlijke staat: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Vrijgezel</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Belbin groepsrol: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Combinatie groepswerker & plant</div>
			</div>

			<br />
			<br />

			<p class="display-3">Contact</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Accountmanager: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Robin Palmberg</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Bedrijf: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Accountmanager NEXT</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Telefoonnummer: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">06-83497372</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Email: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">r.palmberg@next.youngcapital.nl</div>
			</div>
		</div>
	</div>
</div>
