@{
	ViewData["Title"] = "Introductie";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Introductie</p>
			<p>
				Ik ben een van nature introverte en in het begin verlegen jongen, <br />
				die teamwork zeer belangrijk vind. Daarnaast ben ik creatief, zelfstandig, <br />
				hardwerkend, pik snel nieuwe talen op en ben erg leergierig. <br />
				Ook niet onbelangrijk: ik ben altijd op tijd, hou van anime <br />
				en heb nooit een ochtendhumeur!
			</p>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Algemeen</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Geboortedatum: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">08 oktober 2000</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Nationaliteit: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Nederlands (moeder Nederlands, vader Pakistaans)</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Burgerlijke staat: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Vrijgezel</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Belbin groepsrol: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Combinatie groepswerker & plant</div>
			</div>

			<br />
			<br />

			<p class="display-3">Contact</p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Accountmanager: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Robin Palmberg</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Bedrijf: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">Accountmanager NEXT</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Telefoonnummer: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">06-83497372</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3">Email: </div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-9">r.palmberg@next.youngcapital.nl</div>
			</div>
		</div>
	</div>
</div>
