@{
	ViewData["Title"] = "Introductie";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Introductie</p>
			<p>
				Ik ben een van nature introverte en in het begin verlegen jongen, <br />
				die teamwork zeer belangrijk vind. Daarnaast ben ik creatief, zelfstandig, <br />
				hardwerkend, pik snel nieuwe talen op en ben erg leergierig. <br />
				Ook niet onbelangrijk: ik ben altijd op tijd, hou van anime <br />
				en heb nooit een ochtendhumeur!
			</p>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Algemene Info</p>
			<div class="row">
				<div class="col-6 col-sm-3">Geboortedatum: </div>
				<div class="col-6 col-sm-9">08 oktober 200</div>

				<!-- Force next columns to break to new line -->
				<div class="w-100"></div>

				<div class="col-6 col-sm-3">Nationaliteit</div>
				<div class="col-6 col-sm-9">Nederlands (moeder Nederlands, vader Pakistaans)</div>

				<!-- Force next columns to break to new line -->
				<div class="w-100"></div>

				<div class="col-6 col-sm-3">Burgerlijke staat</div>
				<div class="col-6 col-sm-9">Vrijgezel</div>

				<!-- Force next columns to break to new line -->
				<div class="w-100"></div>

				<div class="col-6 col-sm-3">Belbin groepsrol</div>
				<div class="col-6 col-sm-9">combinatie groepswerker & plant</div>
			</div>
		</div>
	</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
