@{
	ViewData["Title"] = "Motivatie";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container h-100 text-light">
	<p class="display-3">Motivatie</p>
	<p>Ik wil graag een baan in de ICT, omdat ik gewoonweg van programmeren hou en er aanleg/talent voor heb!</p>

	<div class="row gap-4" style="margin-left: 0px; width: 185vh;">
		<div class="col-12 col-sm-12 col-md-12 col-lg-4 text-black row">
			<div class="card text-bg-dark">
				<img src="/images/why.jpg" class="card-img" style="height: 32em;" alt="why">
				<div class="card-img-overlay">
					<h5 class="card-title text-center display-5" style="font-weight: 400;">Why</h5>
					<div class="card-text" style="font-weight: 400; font-size: 20px;">
						<p>✥ Leergierig</p>
						<p>✥ Snel programmeren onder de knie</p>
						<p>✥ Teamplayer</p>
						<p>✥ Creatief</p>
						<p>✥ Analystisch vermogen</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-4 text-black row">
			<div class="card text-bg-dark">
				<img src="/images/how.jpg" class="card-img" style="height: 32em;" alt="how">
				<div class="card-img-overlay">
					<h5 class="card-title text-center display-5" style="font-weight: 400;">How</h5>
					<div class="card-text" style="font-weight: 400; font-size: 20px;">
						<p>✥ Grote intrinsieke motivatie</p>
						<p>✥ Harde werken & doorzetter</p>
						<p>✥ Werken aan sofskills</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-4 text-black row">
			<div class="card text-bg-dark">
				<img src="/images/what.jpg" class="card-img" style="height: 32em;" alt="what">
				<div class="card-img-overlay">
					<h5 class="card-title text-center display-5" style="font-weight: 400;">What</h5>
					<div class="card-text" style="font-weight: 400; font-size: 17px;">
						<p>
							✥ <b>Half jaar ervaring comakership:</b> <br />
							Hierbij structuur gebouwd m.b.v. een API, om huizen te viewen en 
							m.b.v. Tailwind pagina’s dynamischer gemaakt 🡪 applicatie mobile
							responsive.
						</p>
						<p>
							✥ Ervaring programmeertalen/frameworks: PHP7, MySQL, Laravel 8, HTML5, CSS3, Tailwind CSS en JavaScript.
						</p>
						<p>✥ Ervaring met Agile/Scrum, Git & Azure DevOps</p>
						<p>✥ Zelfstudie: cursussen op Udemy</p>
						<p>✥ Bewust van unieke kans!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>