@{
	ViewData["Title"] = "Vaardigheden";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}


<div class="container text-light">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Vaardigheden</p>
			<div class="row">
				<div class="col-7">PHP 7 & MySQL</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">HTML 5</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Agile/Scrum</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">CSS3</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Laravel 9</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">JavaScript</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Git & Azure DevOps</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">C#</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Vue JS</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Tailwind CSS</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">.Net</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">Python</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
			<div class="row">
				<div class="col-7">JSON</div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
				<div class="col-1"><img src="/images/empty-star.png" /></div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 text-light">
			<p class="display-3">Talen</p>
			<div class="row gap-0">
				<div class="col-12">Nederlands: Mondeling en schriftelijk goed</div>
				<div class="col-12">Engels: Mondeling en schriftelijk redelijk goed</div>
			</div>
		</div>
	</div>
</div>