@{
	ViewData["Title"] = "Werk";
	Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="container text-light">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8 text-light row gap-4">
			<p class="display-3">Werkervaring</p>
			<div class="row">
				<div class="col-4">dec. 2022</div>
				<div class="col-8 row">
					<div class="col-12">
						<b>
							Upcoming young developer
						</b>
					</div>
					<div class="col-12">
						<i>
							Young capital next, Amsterdam.
						</i>
					</div>
					<div class="col-12">
						Op 5-12-'22 ben ik als Young Professional gestart met het traineeship
						en ben per direct, via YoungCapital Next, beschikbaar voor een baan.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">jun. 2018 - jul. 2022</div>
				<div class="col-8 row">
					<div class="col-12">
						<b>
							Crewmedewerker
						</b>
					</div>
					<div class="col-12">
						<i>
							McDonald’s, Amsterdam.
						</i>
					</div>
					<div class="col-12">
						In de weekenden was ik, naast mijn MBO & HBO studie, werkzaam als
						crewmedewerker bij McDonald's en verzorgde ik de bestellingen van
						klanten en werkte nieuwe medewerkers in.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
